<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
 <style type="text/css">
 body{color:#efd;background:#987;padding:0 5em;margin:0}
 h1{padding:2em 1em;background:#675}
 h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
 p{margin:1em 0}
 </style>
<body>
<h1>Service: {{service}} result: </h1>

<h2>Results are: </h2>
<p>{{ result }}</p>
<h2>Labels are: </h2>>
<p>{{ label }}</p>>

<a href="http://localhost:8000/upload/"><center>Re-enter the data</center></a>
 <a href="http://localhost:8000/servicelist/">Back to service list</a>

</body>
</html>