<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multiple Services</title>
</head>
 <style type="text/css">
 body{color:#efd;background:#987;padding:0 5em;margin:0}
 h1{padding:2em 1em;background:#675}
 h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
 p{margin:1em 0}
 </style>
<body>
<h1><font face="verdana"><center>Here is the list of the services</center></font></h1>
<a href="http://localhost:8000/sleepcondition/">
    <font face="Bookman Old Style, Book Antiqua, Garamond" color="white">
        <center>
    Sleeping condition
        </center>
        <br>
</font>
</a>


<a href="https://aws.amazon.com/marketplace/solutions/machinelearning/">
    <font face="Bookman Old Style, Book Antiqua, Garamond" color="white">
        <center>Other condition<br>
        </center>
    </font>
</a>

<a href="https://aimarketplace.portal.azure-api.net/">
    <font face="Bookman Old Style, Book Antiqua, Garamond" color="white">
        <center>
            Some other conditions
            <br>
        </center>
    </font>
</a>

<a href="https://cloud.google.com/ai-hub/">
    <font face="Bookman Old Style, Book Antiqua, Garamond" color="white">
        <center>
            Still got some other conditions
            <br>
        </center>
    </font>
</a>



<a href="http://localhost:8000/logout/">Log out <br> </a>

</body>
</html>