<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sleeping conditions</title>
</head>
<body>
<button type="button" id="open">Choose file</button>
<input type="file" name="file" id="file" style="display:none" multiple/>

<script>
if (window.File && window.FileReader && window.FileList && window.Blob) {
    document.getElementById('open').addEventListener('click',function() {
        document.getElementById('file').click();
    }, false);
} else {
    alert('The File APIs are not fully supported in this browser.');
}
</script>

<form method = 'post' enctype="multipart/form-data">
 {%csrf_token%}
</br>
<input type="submit" value = "See the result" />
</form>

</body>
</html>